{% extends 'admin/change_form.html' %}
{% load static %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static '/css/route.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.4.1.js' %}"></script>
    <div class="submit-row">
        <input type="button" id="remove_highlight_x" value="Remove highlight x" onclick="return false;">
        <input type="button" id="remove_highlight_y" value="Remove highlight y" onclick="return false;">
    </div>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                var $add_highlight_x = $('#add_highlight_x');
                var $add_highlight_y = $('#add_highlight_y');
                var $remove_highlight_x = $('#remove_highlight_x');
                var $remove_highlight_y = $('#remove_highlight_y');

                $add_highlight_x.click( function() {
                    var length = $add_highlight_x.siblings('input:visible').length;
                    if (length < 14)
                        $('#id_x_coordinates_' + length).show();
                    else
                        alert('Maximum number of coordinate');
                });
                $add_highlight_y.click( function() {
                    var length = $add_highlight_y.siblings('input:visible').length;
                    if (length < 14)
                        $('#id_y_coordinates_' + length).show();
                    else
                        alert('Maximum number of coordinate');
                });
                for(var i = 1; i <= 14; i++) {
                    $('#id_x_coordinates_' + i).hide();
                    $('#id_y_coordinates_' + i).hide();
                }
                for(i = 0; i <= 3; i++) {
                    $('#id_x_coordinates_' + i).show();
                    $('#id_y_coordinates_' + i).show();
                }
                $add_highlight_x.appendTo('.field-x_coordinates div');
                $add_highlight_y.appendTo('.field-y_coordinates div');
                $('.field-add_x_coordinate').remove();
                $('.field-add_y_coordinate').remove();
                $remove_highlight_x.click( function() {
                    var length = $add_highlight_x.siblings('input:visible').length;
                    if (length > 4)
                        $('#id_x_coordinates_' + (length - 1)).val('').hide();
                    else
                        alert('Maximum number of coordinates is already deleted');
                });
                $remove_highlight_y.click( function() {
                    var length = $add_highlight_y.siblings('input:visible').length;
                    if (length > 4) {
                        $('#id_y_coordinates_' + (length - 1)).val('').hide();
                    }
                    else
                        alert('Maximum number of coordinates is already deleted');
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}